.coustom-orderby {
    margin-left: 5px;
    vertical-align: -9px;
}

.select-per-page {
    width: 81% !important;
}

ul.store-pages li {
    width: 9%

}

.form-per-page {
    display: inline-block;
}

/*-------------pagination--------------*/
.new-pull-left { /*---------change name class pull-left--------------*/
    display: block ;
    float: none !important;
    margin-bottom: 10px;
}

.new-store-pages { /*---------change name class store-pages--------------*/
    margin-top: 8px ;
}

.new-store-pages li { /*---------store-pages li --------------*/
    display: inline-block !important;
    width: 4% !important;
    margin: 0 !important;
}
.new-store-pages li.active {
    color: #F8694A;
}
/*-------------pagination--------------*/


/*-------------content product----- Equal height  col---------*/
.row.display-flex {
    display: flex;
    flex-wrap: wrap;
    align-items:stretch

}
.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: row ;
}
/*-------------content product------ Equal height  col --------*/

/*-------------rating-product--------*/
.rating-product{
    flex: none;
    margin-bottom: 17px !important;
    margin-top: 5px;
}
.star-rating span:before,
.star-rating::before,
p.stars a:hover:after,
p.stars a:after {
    color: #ea7963 !important;
}
.primary-btn.add-to-cart:hover {
    background: #eeb8af !important;
}
.product-btns{
    display: flex !important;
    align-items:stretch;
}
.product-btns button{
    flex: content;
}
/*-------------rating-product-------*/

/*-------------icon cart and register user-------*/
.header-btns-icon .fa.fa-user-o,.header-btns-icon .fa.fa-shopping-cart{
    padding-top: 10px;
 }


/*-------- massage add to cart--------------*/
.massage-add-cart{
    padding-top: 5px;
}

/*----------massage add to cart------------*/

/*---------search with category------------*/

select.search-categories {
    width: 140px;
    height: 35px;
    padding: 4px;

    border-radius: 5px;
    box-shadow: 2px 2px 8px #999;
    background: #ffffff;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
/*---------search with category------------*/

/*---------image menu category------------*/
.category-img {
    height: 169px !important;
}
/*---------image menu category------------*/

/*---------image gallery single------------*/
.thumbnails {
    display: flex;
    margin: 1rem auto 0;
    padding: 0;
    justify-content: center;
}

.thumbnail {
    width: 70px;
    height: 70px;
    overflow: hidden;
    list-style: none;
    margin: 0 0.2rem;
    cursor: pointer;
}

.thumbnail img {
    width: 100%;
    height: auto;
}
.thumbnail {
opacity: 0.3;
}

.thumbnail.is-active {
    opacity: 1;
}
 
/*---------image gallery single------------*/
@media only screen and (max-width: 314px) {
    .coustom-orderby {
        display: block;
        margin: 20px;

    }
    .new-store-pages li {
        width: 12% !important;
    }
}

@media only screen and (max-width: 558px) {
    .new-store-pages li {
        width: 6% !important;
    }
}
@media only screen and (max-width: 922px) {
    .rating-product{
        margin-bottom: 25px;
    }
}
